.box-shadow-1 {box-shadow: 0 4px 6px 0 $neutral-1;}
.box-shadow-2 {box-shadow: 0 4px 6px 0 $neutral-2;}
.box-shadow-3 {box-shadow: 0 4px 6px 0 $neutral-3;}
.box-shadow-4 {box-shadow: 0 4px 6px 0 $neutral-4;}
.box-shadow-5 {box-shadow: 0 4px 6px 0 $neutral-5;}
.box-shadow-6 {box-shadow: 0 4px 6px 0 $neutral-6;}
.box-shadow-7 {box-shadow: 0 4px 6px 0 $neutral-7}
.box-shadow-8 {box-shadow: 0 4px 6px 0 $neutral-8;}
.box-shadow-9 {box-shadow: 0 4px 6px 0 $neutral-9;}
