@import '../abstracts/variables';

div#evaluation-form-container {
    select {
        width: 100%;
        margin-bottom: 4px;
    }
    
    label {
        margin-bottom: 0;
    }

    div.criterion {
        width: 100%;
        margin-bottom: 4px;
    }
}