
<div class="row">
    <div class="col-11 mx-auto">
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% for team in anchors %}
    <div class="row form-card-wrapper border-bottom p-2 bg-white box-shadow-7">
        <div class="col">
            <form class="p-1" method="POST" action="#" data-delete-action="{% url 'delete_anchor' %}" data-assign-action="{% url 'assign_anchor_to_judges' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ team.id }}" name="team_id" id="team_id">
                <div class="form-row mb-1 justify-content-center">
                    {% comment %} Judge completion progress {% endcomment %}
                    <div class="form-group col-md-2 col-sm-4 mb-0">
                        <div class="row h-100 align-items-center">
                            <div class="col">
                                <p class="m-md-0 m-2 text-md-left text-center">{{ team.num_judges_completed }} / {{ num_judges }}</p>
                            </div>
                        </div>
                    </div>
                    {% comment %} Name {% endcomment %}
                    <div class="form-group col-md-3 mb-0">
                        <div class="row h-100 align-items-center">
                            <div class="col">
                                <p class="m-md-0 m-2 text-md-left text-center">{{ team.name }}</p>
                            </div>
                        </div>
                    </div>
                    {% comment %} Assign to all judges {% endcomment %}
                    <div class="form-group col-md-2 col-3 mb-0">
                        <input type="button" class="btn btn-outline-info anchor-assign-all-button form-control" value="Assign to Judges">
                    </div>
                    {% comment %} Delete {% endcomment %}
                    <div class="form-group col-md-1 col-2 mb-0">
                        <input type="button" class="btn btn-outline-danger anchor-delete-button form-control" value="Delete">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
