{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Hi {{ user.first_name }}</h1>
            <br>
            <ol>
                <li>Before hackathon
                    <ol type="a">
                        <li><a href="{% url 'edit_event' %}">Customize event details</a></li>
                        <li><a href="{% url 'edit_organizations' %}">Define sponsors/organizations</a></li>
                        <li><a href="{% url 'edit_categories' %}">List prize categories</a></li>
                    </ol>
                </li>
                <li>During hackathon, before judging
                    <ol type="a">
                        <li><a href="{% url 'normalize' %}">Run normalization session</a></li>
                        <li><a href="{% url 'edit_teams' %}">List teams</a></li>
                        <li><a href="{% url 'assign_tables' %}">Assign tables</a></li>
                        <li><a href="{% url 'assign_demos' %}">Assign demos</a></li>
                    </ol>
                </li>
                <li>During hackathon, while judging
                    <ol type="a">
                        <li><a href="{% url 'team_progress' %}">Monitor progress</a></li>
                        <li><a href="{% url 'edit_teams' %}">Change team table numbers as needed</a></li>
                    </ol>
                </li>
                <li>During hackathon, after judging
                    <ol type="a">
                        <li><a href="{% url 'scores' %}">Normalize scores and view rankings</a></li>
                    </ol>
                </li>
                <li>After hackathon
                    <ol type="a">
                        <li><a href="{% url 'dashboard' %}">Export data</a></li>
                    </ol>
                </li>
            </ol>

        {% comment %}
            <form method="POST" action="{% url 'assign_demos' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Assign Demos">
            </form>

            <form method="POST" action="{% url 'assign_tables' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Assign Tables">
            </form>
        {% endcomment %}

            {% if is_debug %}
                <h3>Development only</h3>
                <form method="POST" action="{% url 'simulate_demos' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Simulate Demos">
                </form>
                <form method="POST" action="{% url 'generate_judges' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Generate judges">
                </form>
                <form method="POST" action="{% url 'delete_all_demos' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Delete Demos">
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}