{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Hi {{ user.first_name }}</h1>
            <a href="{% url 'import_devpost' %}">Import devpost</a>
            <br>
            <a href="{% url 'edit_organizations' %}">Edit Organizations</a>
            <br>

            <form method="POST" action="{% url 'assign_demos' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Assign Demos">
            </form>

            <form method="POST" action="{% url 'assign_tables' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Assign Tables">
            </form>

            {% if is_debug %}
            <form method="POST" action="{% url 'simulate_demos' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Simulate Demos">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}