{% extends 'base.html' %}

{% block title %}Organizations{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Manage Organizations</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h3>Edit organizations</h3>
            <div id="organization-list">
                {% include 'admin/edit_organizations_list.html' %}
            </div>
            <hr>
            <h3>Add new organization</h3>
            <div>
                <form id="add-organization-form" class="p-1" method="POST" action="{% url 'add_organization' %}">
                    {% csrf_token %}
                    <div class="input-group row">
                        <input type="text" name="org_name" class="form-control col offset-1" placeholder="New organization..." required>
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-outline-primary" value="Add">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}