{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container" id="edit-categories-container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Manage Categories</h1>
        </div>
        <div class="col-11 mb-4 mx-auto">
            <h3>Import categories</h3>
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            <form id="import-categories" method="POST" action="{% url 'import_categories_from_devpost' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="devpost_url">Devpost URL</label>
                    <div class="input-group form-group">
                        <input type="text" class="form-control" name="devpost_url" placeholder="https://hoohacks.devpost.com/">
                        <div class="input-group-append">
                            <input class="btn btn-secondary form-control" type="submit" value="Import">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="category-list" class="col-12 mb-4">
            {% include 'admin/edit_categories_list.html' %}
        </div>
        
        <div class="col-12">
            <div class="row p-4">
                <div class="col-md-11 mx-auto">
                    <h3>Add new category</h3>
                    <form id="add-category-form" class="p-1 submit-on-enter" method="POST" action="{% url 'add_category' %}">
                        {% csrf_token %}
                        <div class="form-row mb-1">
                            {% comment %} Name {% endcomment %}
                            <div class="form-group col-md-12 mb-0">
                                <label for="name">Category name</label>
                                <div class="input-group">
                                    <input type="text" value="{{ category.name }}" name="name" class="form-control {% if category.organization.id == organizers_id %}border-info{% endif %}" placeholder="Best Use of ..." required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-1">
                            {% comment %} Organization {% endcomment %}
                            <div class="form-group col-md-3 mb-0">
                                <label for="organization">Organization</label>
                                <select name="organization" class="form-control" required>
                                    {% for org in organizations %}
                                    <option value="{{ org.id }}" {% if org.id == category.organization.id %}selected{% endif %}>{{ org.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% comment %} Number of winners {% endcomment %}
                            <div class="form-group col-md-3 mb-0">
                                <label for="number_winners"># Winning teams</label>
                                <input type="number" name="number_winners" class="form-control" required>
                            </div>
                            {% comment %} Minimum number of judges {% endcomment %}
                            <div class="form-group col-md-3 mb-0">
                                <label for="min_judges">Min. # of judges</label>
                                <input type="number" name="min_judges" class="form-control" required>
                            </div>
                            {% comment %} Is opt-in prize {% endcomment %}
                            <div class="form-group col-md-2 mb-0">
                                <label></label>
                                <div class="btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-light form-control">
                                    <input type="checkbox" name="is_opt_in" autocomplete="off"> Opt-In
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <input type="submit" class="btn btn-secondary btn-block" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}