{% extends 'base.html' %}

{% block title %}Scores{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8">
            <h1 class="text-center">Scores</h1>
            <div class="row">
                <p class="col-4 text-right font-weight-bold">Table</p>
                <p class="col-4 text-left font-weight-bold">Name</p>
                <p class="col-4 text-left font-weight-bold">Raw Score</p>
            </div>
            {% for score, team in rankings %}
            <div class="row">
                <p class="col-4 text-right">{{ team.table }}</p>
                <p class="col-4 text-left">{{ team.name }}</p>
                <p class="col-4 text-left">{{ score|floatformat:"3" }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}