<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>API Test</title>
    </head>
    <body>
        {% for form in forms %}
        <form method="{{ form.method }}" action="{% url form.name %}">
            <h3>{{ form.name }}</h3>
            {% for field in form.fields %}
            <label for="{{ field.name }}">{{ field.name }}</label>
            <input type="{{ field.type }}" name="{{ field.name }}" required="{{ field.required }}">
            <br>
            {% endfor %}
            <input type="submit">
        </form>
        <hr>
        {% endfor %}
    </body>
</html>