{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Hi {{ user.first_name }}</h1>
            <a href="{% url 'profile' %}">Update profile</a>
            <a href="{% url 'evaluate' %}">Form</a>
            
            {% if user.is_staff %}
            <form method="POST" action="{% url 'assign_demos' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Assign Demos">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}