{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Hi {{ user.first_name }}</h1>
            <a href="{% url 'profile' %}">Update profile</a>
            <br>
            <a href="{% url 'evaluate' %}">Form</a>
            <br>
            <a href="{% url 'logout' %}">Log out</a>
            <br>
            <h2>Demo Queue</h2>
            {% for demo in demo_queue %}
            <a href="{% url 'evaluate' %}?team={{ demo.team.id }}">[Table {{ demo.team.table }}] {{ demo.team.name }}</a>
            {% endfor %}
            <br>
            <h2>Past Demos</h2>
            {% for demo in past_demos %}
            <a href="{% url 'evaluate' %}?team={{ demo.team.id }}">[Table {{ demo.team.table }}] {{ demo.team.name }}</a>
            {% endfor %}

            
            {% if user.is_staff %}
            <form method="POST" action="{% url 'assign_demos' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Assign Demos">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}