{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1>Log in</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.username.errors }}
                    {{ form.username.label_tag }}
                    <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="150" name="{{ form.username.html_name }}" type="text" /> 
                    <small class="form-text text-muted">{{ form.username.help_text }}</small>
                </div>
                <div class="form-group">
                    {{ form.password.errors }}
                    {{ form.password.label_tag }}
                    <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="150" name="{{ form.password.html_name }}" type="password" /> 
                    <small class="form-text text-muted">{{ form.password.help_text }}</small>
                </div>
                <input type="submit" class="btn btn-secondary btn-block">
            </form>
        </div>
    </div>
</div>
{% endblock %}