<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#35367D">
        <meta name="apple-mobile-web-app-status-bar-style" content="#35367D">

        <title>{% block title %}{% endblock %}</title>

        {% load pipeline %}
        {% stylesheet 'main' %}
    </head>
    <body>
        {% include 'navbar.html' with user=user %}
        {% block content %}
        {% endblock %}
        {% javascript 'jquery' %}
        {% javascript 'bootstrap' %}
        {% javascript 'main' %}
    </body>
</html>