{% if user.is_authenticated %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'index' %}">Hoot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">≡</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            {% if user.is_staff or user.is_superuser %}
                {% url 'dashboard' as dashboard_url %}
                <li class="nav-item {% if dashboard_url == request.path %}active{% endif %}">
                    <a class="nav-link" href="{{ dashboard_url }}">Dashboard {% if dashboard_url == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% url 'evaluate' as evaluate_url %}
                <li class="nav-item {% if evaluate_url == request.path %}active{% endif %}">
                    <a class="nav-link" href="{{ evaluate_url }}">Form {% if evaluate_url == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% url 'edit_event' as edit_event_url %}
                <li class="nav-item {% if edit_event_url == request.path %}active{% endif %}">
                    <a class="nav-link" href="{{ edit_event_url }}">Event {% if edit_event_url == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% url 'statistics' as statistics_url %}
                <li class="nav-item {% if statistics_url == request.path %}active{% endif %}">
                    <a class="nav-link" href="{{ statistics_url }}">Statistics {% if statistics_url == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% url 'profile' as profile_url %}
                <li class="nav-item {% if profile_url == request.path %}active{% endif %}">
                    <a class="nav-link" href="{{ profile_url }}">Profile {% if profile_url == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                {% url 'queue' as queue_url %}
                <li class="nav-item {% if queue_url == request.path %}active{% endif %}">
                    <a class="nav-link" href="{{ queue_url }}">Queue {% if queue_url == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% url 'evaluate' as evaluate_url %}
                <li class="nav-item {% if evaluate_url == request.path %}active{% endif %}">
                    <a class="nav-link" href="{{ evaluate_url }}">Form {% if evaluate_url == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% url 'profile' as profile_url %}
                <li class="nav-item {% if profile_url == request.path %}active{% endif %}">
                    <a class="nav-link" href="{{ profile_url }}">Profile {% if profile_url == request.path %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endif %}